/*! modern-normalize v1.0.0 | MIT License | https://github.com/sindresorhus/modern-normalize */
/*
Document
========
*/
/**
Use a better box model (opinionated).
*/
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/**
Use a more readable tab size (opinionated).
*/
:root {
  -moz-tab-size: 4;
  -o-tab-size: 4;
     tab-size: 4;
}

/**
1. Correct the line height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
*/
html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

/*
Sections
========
*/
/**
Remove the margin in all browsers.
*/
body {
  margin: 0;
}

/**
Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
*/
body {
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
}

/*
Grouping content
================
*/
/**
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
*/
hr {
  height: 0; /* 1 */
  color: inherit; /* 2 */
}

/*
Text-level semantics
====================
*/
/**
Add the correct text decoration in Chrome, Edge, and Safari.
*/
abbr[title] {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

/**
Add the correct font weight in Edge and Safari.
*/
b,
strong {
  font-weight: bolder;
}

/**
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the odd 'em' font sizing in all browsers.
*/
code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Consolas, "Liberation Mono", Menlo, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/**
Add the correct font size in all browsers.
*/
small {
  font-size: 80%;
}

/**
Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.
*/
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
Tabular data
============
*/
/**
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in all Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
*/
table {
  text-indent: 0; /* 1 */
  border-color: inherit; /* 2 */
}

/*
Forms
=====
*/
/**
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
*/
button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

/**
Remove the inheritance of text transform in Edge and Firefox.
1. Remove the inheritance of text transform in Firefox.
*/
button,
select { /* 1 */
  text-transform: none;
}

/**
Correct the inability to style clickable types in iOS and Safari.
*/
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
Remove the inner border and padding in Firefox.
*/
::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
Restore the focus styles unset by the previous rule.
*/
:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
Remove the additional ':invalid' styles in Firefox.
See: https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737
*/
:-moz-ui-invalid {
  box-shadow: none;
}

/**
Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers.
*/
legend {
  padding: 0;
}

/**
Add the correct vertical alignment in Chrome and Firefox.
*/
progress {
  vertical-align: baseline;
}

/**
Correct the cursor style of increment and decrement buttons in Safari.
*/
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/**
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/
[type=search] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/**
Remove the inner padding in Chrome and Safari on macOS.
*/
::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to 'inherit' in Safari.
*/
::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/*
Interactive
===========
*/
/*
Add the correct display in Chrome and Safari.
*/
summary {
  display: list-item;
}

a {
  text-decoration: none;
}

address {
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/*! modern-normalize v1.0.0 | MIT License | https://github.com/sindresorhus/modern-normalize */
/*
Document
========
*/
/**
Use a better box model (opinionated).
*/
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/**
Use a more readable tab size (opinionated).
*/
:root {
  -moz-tab-size: 4;
  -o-tab-size: 4;
     tab-size: 4;
}

/**
1. Correct the line height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
*/
html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

/*
Sections
========
*/
/**
Remove the margin in all browsers.
*/
body {
  margin: 0;
}

/**
Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
*/
body {
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
}

/*
Grouping content
================
*/
/**
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
*/
hr {
  height: 0; /* 1 */
  color: inherit; /* 2 */
}

/*
Text-level semantics
====================
*/
/**
Add the correct text decoration in Chrome, Edge, and Safari.
*/
abbr[title] {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

/**
Add the correct font weight in Edge and Safari.
*/
b,
strong {
  font-weight: bolder;
}

/**
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the odd 'em' font sizing in all browsers.
*/
code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Consolas, "Liberation Mono", Menlo, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/**
Add the correct font size in all browsers.
*/
small {
  font-size: 80%;
}

/**
Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.
*/
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
Tabular data
============
*/
/**
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in all Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
*/
table {
  text-indent: 0; /* 1 */
  border-color: inherit; /* 2 */
}

/*
Forms
=====
*/
/**
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
*/
button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

/**
Remove the inheritance of text transform in Edge and Firefox.
1. Remove the inheritance of text transform in Firefox.
*/
button,
select { /* 1 */
  text-transform: none;
}

/**
Correct the inability to style clickable types in iOS and Safari.
*/
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
Remove the inner border and padding in Firefox.
*/
::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
Restore the focus styles unset by the previous rule.
*/
:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
Remove the additional ':invalid' styles in Firefox.
See: https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737
*/
:-moz-ui-invalid {
  box-shadow: none;
}

/**
Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers.
*/
legend {
  padding: 0;
}

/**
Add the correct vertical alignment in Chrome and Firefox.
*/
progress {
  vertical-align: baseline;
}

/**
Correct the cursor style of increment and decrement buttons in Safari.
*/
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/**
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/
[type=search] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/**
Remove the inner padding in Chrome and Safari on macOS.
*/
::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to 'inherit' in Safari.
*/
::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/*
Interactive
===========
*/
/*
Add the correct display in Chrome and Safari.
*/
summary {
  display: list-item;
}

body {
  font-family: "Roboto", sans-serif;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

.header {
  border-bottom: 1px solid #ececec;
}

.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 450px;
  height: 60px;
}
@media screen and (min-width: 768px) {
  .header__nav {
    width: 738px;
    height: 80px;
  }
}
@media screen and (min-width: 1200px) {
  .header__nav {
    width: 1170px;
  }
}

.header__logotip {
  display: block;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 134px;
  font-family: "Roboto", sans-serif;
  color: rgb(0, 0, 0);
  font-style: normal;
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  letter-spacing: 0.03em;
  margin-right: 276px;
  padding-top: 16px;
}
.header__logotip__hover {
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 768px) {
  .header__logotip {
    font-size: 26px;
    line-height: 31px;
    padding-top: 26px;
    margin-right: 87px;
  }
}
@media screen and (min-width: 1200px) {
  .header__logotip {
    width: 145px;
    padding-top: 24px;
    margin-right: 93px;
  }
}

.header__logo {
  font-family: "Roboto", sans-serif;
  color: rgb(33, 150, 243);
  font-style: normal;
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  letter-spacing: 0.03em;
}
.header__logo__hover {
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 1200px) {
  .header__logo {
    font-size: 26px;
    font-weight: 400;
    line-height: 31px;
  }
}

.header__list {
  display: none;
  width: 294px;
  height: 48px;
  margin-top: 32px;
}
@media screen and (min-width: 768px) {
  .header__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .header__list li:not(:first-child) {
    margin-left: 50px;
  }
}

.header__link, .header__link-stydia {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: 500;
  font-style: normal;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: rgb(33, 150, 243);
}
.header__link::after, .header__link-stydia::after {
  content: "";
  display: inline-block;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: rgb(33, 150, 243);
}

.header__link-stydia {
  color: rgb(33, 33, 33);
}
.header__link-stydia:hover, .header__link-stydia:focus {
  color: rgb(33, 150, 243);
}
.header__link-stydia::after {
  background-color: transparent;
}

.header__li {
  position: relative;
}

.header__contacts {
  display: none;
}
@media screen and (min-width: 768px) {
  .header__contacts {
    display: block;
    padding-top: 21px;
    margin-left: 90px;
  }
}
@media screen and (min-width: 1200px) {
  .header__contacts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-top: 32px;
    margin-left: 315px;
  }
}

.header__contacts li:last-child {
  margin-right: 0px;
}

.header__icon {
  content: "";
  width: 14px;
  height: 10px;
  margin-right: 8px;
}
@media screen and (min-width: 1200px) {
  .header__icon {
    width: 16px;
    height: 12px;
    margin-right: 10px;
  }
}

.header__icon-smartphone {
  content: "";
  width: 10px;
  height: 14px;
  margin-right: 8px;
}
@media screen and (min-width: 1200px) {
  .header__icon-smartphone {
    height: 16px;
    margin-right: 10px;
  }
}

.header__pochta, .header__smartphone {
  font-weight: 500;
  font-style: normal;
  font-size: 12px;
  padding-bottom: 10px;
  color: rgb(117, 117, 117);
  cursor: pointer;
  -webkit-transform: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
          transform: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header__pochta:hover, .header__pochta:focus, .header__smartphone:hover, .header__smartphone:focus {
  -webkit-text-decoration: underline rgb(33, 150, 243);
          text-decoration: underline rgb(33, 150, 243);
  color: rgb(33, 150, 243);
}
@media screen and (min-width: 1200px) {
  .header__pochta, .header__smartphone {
    font-size: 14px;
  }
}

.header__email {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  fill: rgb(117, 117, 117);
}
.header__email:hover, .header__email:focus {
  fill: rgb(33, 150, 243);
}
@media screen and (min-width: 1200px) {
  .header__email {
    margin-right: 30px;
  }
}

.header__telephone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  fill: rgb(117, 117, 117);
}
.header__telephone:hover, .header__telephone:focus {
  fill: rgb(33, 150, 243);
}

.menu__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-width: 40px;
  min-height: 40px;
  margin: 0;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  border: none;
  outline: none;
}
@media screen and (min-width: 768px) {
  .menu__button {
    display: none;
  }
}

.menu__container {
  position: fixed;
  top: 0;
  left: 0;
  width: 480px;
  height: 796px;
  z-index: 9999;
  background: var(--primary-text-color-light);
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  background-color: rgb(255, 255, 255);
  -webkit-box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 1px 3px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 1px 3px rgba(0, 0, 0, 0.16);
}
@media screen and (min-width: 768px) {
  .menu__container {
    display: none;
  }
}

.menu__container.is-open {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.menu__button-close {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 40px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: transparent;
  cursor: pointer;
  border: none;
  outline: none;
  -webkit-transform: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
          transform: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.menu__button-close:hover, .menu__button-close:focus {
  fill: rgb(33, 150, 243);
}

.mobile__linke {
  margin-top: 48px;
  margin-left: 40px;
}

.mobile__stydia {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 47px;
  letter-spacing: 0.02em;
  color: rgb(33, 33, 33);
  -webkit-transform: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
          transform: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mobile__stydia:hover, .mobile__stydia:focus {
  color: rgb(33, 150, 243);
}

.mobile__items {
  padding-bottom: 35px;
}
.mobile__items:last-child {
  padding-bottom: 0px;
}

.mobile__contacts {
  margin-left: 40px;
  margin-top: 300px;
}

.mobile__number {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 34px;
  line-height: 40px;
  letter-spacing: 0.02em;
  padding-bottom: 32px;
  color: rgb(33, 150, 243);
}

.mobile__email {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0.02em;
  color: rgb(117, 117, 117);
}

.mobile__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 64px;
  margin-bottom: 48px;
  margin-left: 40px;
}

.social__link {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: rgb(33, 150, 243);
}

.line {
  margin-left: 10px;
  margin-right: 10px;
  width: 1px;
  color: rgba(33, 33, 33, 0.2);
}

.main__container {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 400px;
  text-align: center;
  background-image: url(../images/Header_mob1x.jpg);
  background-color: #2f303a;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .main__container {
    background-image: url(../images/Header_mob@2x.jpg);
  }
}
@media screen and (min-width: 768px) {
  .main__container {
    background-image: url(../images/Header_tab1x.jpg);
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .main__container {
    background-image: url(../images/Header_tab@2x.jpg);
  }
}
@media screen and (min-width: 480px) {
  .main__container {
    display: block;
    padding-top: 118px;
    padding-bottom: 118px;
    height: auto;
  }
}
@media screen and (min-width: 1200px) {
  .main__container {
    max-width: 1600px;
    padding-top: 200px;
    padding-bottom: 200px;
    background-image: url(../images/Header_pc1x.jpg);
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .main__container {
    background-image: url(../images/Header_pc@2x.jpg);
  }
}

.main__heading {
  font-weight: 900;
  font-style: normal;
  font-size: 26px;
  text-transform: uppercase;
  text-align: center;
  line-height: 42px;
  color: rgb(255, 255, 255);
  letter-spacing: 0.06em;
  padding-top: 118px;
  padding-bottom: 30px;
}
@media screen and (min-width: 1200px) {
  .main__heading {
    font-size: 44px;
    line-height: 60px;
  }
}

.main__key,
.main__button {
  display: block;
  width: 200px;
  height: 50px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  margin: auto;
  border-radius: 4px;
}
.main__key:hover, .main__key:focus,
.main__button:hover,
.main__button:focus {
  border-radius: 4px solid rgb(24, 140, 232);
  -webkit-box-shadow: 0px 4px 4px 0px rgba 0, 0, 0, 0.15;
          box-shadow: 0px 4px 4px 0px rgba 0, 0, 0, 0.15;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.main__button {
  font-weight: 700;
  font-style: normal;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.06em;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: rgb(255, 255, 255);
  background-color: #2196f3;
  border-radius: 4px;
  -webkit-transform: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
          transform: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.main__backdrop {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 796px;
  background-color: rgba(0, 0, 0, 0.2);
}
.main__backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.main__modal {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  top: 50%;
  left: 50%;
  min-width: 450px;
  min-height: 609px;
  background-color: rgb(255, 255, 255);
  border-radius: 4px;
  -webkit-box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
@media screen and (min-width: 1200px) {
  .main__modal {
    min-width: 528px;
    min-height: 581px;
  }
}

.modal__icon-close {
  content: "";
  position: absolute;
  width: 30px;
  height: 30px;
  top: 8px;
  right: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 6px;
  background-color: rgb(255, 255, 255);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50% 50%;
}
.modal__icon-close:hover {
  cursor: pointer;
  fill: rgb(33, 150, 243);
}

.modal__form {
  display: inline-block;
  width: 370px;
  padding-top: 12px;
  padding-left: 40px;
  padding-right: 40px;
}
@media screen and (min-width: 1200px) {
  .modal__form {
    width: 448px;
  }
}

.modal__heading {
  width: 370px;
  height: 60px;
  margin-top: 40px;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0.03em;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  color: rgb(33, 33, 33);
}
@media screen and (min-width: 1200px) {
  .modal__heading {
    width: 450px;
    height: 23px;
    line-height: 23px;
    margin-bottom: 12px;
  }
}

.modal__input {
  display: inline-block;
  width: 370px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 12px;
}
@media screen and (min-width: 1200px) {
  .modal__input {
    width: 448px;
  }
}

.modal__name {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: rgb(117, 117, 117);
  margin-bottom: 4px;
}

.modal__input-name {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
  padding-left: 42px;
}

.modal__input-svg {
  position: relative;
  margin-bottom: 10px;
}
.modal__input-svg:last-child {
  margin-bottom: 0px;
}

.modal__icon-form {
  position: absolute;
  width: 18px;
  height: 18px;
  bottom: 11px;
  left: 12px;
}

.modal__text-comment {
  height: 120px;
  padding: 12px 16px;
}

.modal__input-name::-webkit-input-placeholder {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal__input-name::-moz-placeholder {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal__input-name:-ms-input-placeholder {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal__input-name::-ms-input-placeholder {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal__input-name::placeholder {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal__input-name:focus + .modal__icon-form {
  fill: rgb(33, 150, 243);
}

.modal__input-name:focus {
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(33, 150, 243);
  cursor: pointer;
  outline: none;
  color: rgb(33, 150, 243);
}

.modal__checkbox {
  display: inline-block;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  width: 370px;
  margin-top: 20px;
}
@media screen and (min-width: 1200px) {
  .modal__checkbox {
    width: 448px;
  }
}

.modal__contract {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: rgb(117, 117, 117);
}

.modal__agreement {
  letter-spacing: 0.03em;
  text-decoration-line: underline;
  color: rgb(33, 150, 243);
}

.modal__submint {
  display: block;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  width: 370px;
  margin-top: 30px;
  margin-bottom: 40px;
}
@media screen and (min-width: 1200px) {
  .modal__submint {
    width: 450px;
  }
}

.modal__button {
  width: 200px;
  height: 50px;
  background: rgb(33, 150, 243);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.06em;
  color: rgb(255, 255, 255);
}

.section__text {
  margin-top: 60px;
  margin-bottom: 60px;
}
@media screen and (min-width: 768px) {
  .section__text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
@media screen and (min-width: 1200px) {
  .section__text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.section__element {
  width: 450px;
  margin-bottom: 30px;
}
.section__element:not(:first-child) {
  margin-bottom: 30px;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .section__element {
    width: 354px;
    -ms-flex-preferred-size: calc((100% - 60px) / 2);
        flex-basis: calc((100% - 60px) / 2);
    margin-right: 30px;
  }
  .section__element:nth-child(2n) {
    margin-right: 0px;
  }
}
@media screen and (min-width: 1200px) {
  .section__element {
    width: 270px;
    margin-right: 30px;
  }
  .section__element:last-child {
    margin-right: 0px;
  }
}

.text__heading {
  text-align: center;
  color: rgb(33, 33, 33);
  font-weight: 700;
  font-style: normal;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  margin-bottom: 10px;
}
@media screen and (min-width: 768px) {
  .text__heading {
    text-align: left;
  }
}

.text__paragraph {
  color: rgb(117, 117, 117);
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
}

.icon__antenna,
.icon__clock,
.icon__diagram,
.icon__astronaut {
  content: "";
  width: 70px;
  height: 70px;
}

.section__icon {
  height: 120px;
  background-color: #f5f4fa;
  border-radius: 4px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  padding: 25px 100px;
  margin-bottom: 30px;
}

.section__foto {
  display: none;
}
@media screen and (min-width: 1200px) {
  .section__foto {
    display: contents;
  }
}

.foto__heading {
  color: rgb(33, 33, 33);
  font-weight: 700;
  font-style: normal;
  font-size: 36px;
  text-align: center;
  margin-bottom: 50px;
}

.foto__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 94px;
}
.foto__list li:not(:last-child) {
  margin-right: 30px;
}

img {
  width: 370px;
  height: 294px;
}

.foto__item {
  position: relative;
}
.foto__item::before {
  display: inline-block;
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 370px;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
}
.foto__item p {
  position: absolute;
  bottom: 27px;
  right: 83px;
}

.foto__text {
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: rgb(255, 255, 255);
  text-align: center;
}

.our__team {
  background-color: #f5f4fa;
}

.team__heading {
  color: rgb(33, 33, 33);
  font-weight: 700;
  font-style: normal;
  font-size: 28px;
  line-height: 33px;
  letter-spacing: 0.03em;
  text-align: center;
  padding-top: 60px;
  padding-bottom: 30px;
}
@media screen and (min-width: 1200px) {
  .team__heading {
    font-size: 36px;
    line-height: 42.19px;
    padding-bottom: 50px;
  }
}

.team__set {
  display: block;
  padding-bottom: 60px;
}
@media screen and (min-width: 768px) {
  .team__set {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
@media screen and (min-width: 1200px) {
  .team__set {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
}

.team__card {
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  width: 450px;
  margin-bottom: 30px;
}
.team__card:not(:first-child) {
  margin-bottom: 0px;
}
@media screen and (min-width: 768px) {
  .team__card {
    width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .team__card {
    width: 270px;
  }
}

@media screen and (min-width: 768px) {
  .team__list {
    -ms-flex-preferred-size: calc((100% - 30px) / 2);
        flex-basis: calc((100% - 30px) / 2);
    margin-right: 30px;
  }
  .team__list:nth-child(2n) {
    margin-right: 0px;
  }
}
@media screen and (min-width: 1200px) {
  .team__list {
    -ms-flex-preferred-size: 0%;
        flex-basis: 0%;
    margin-right: 30px;
  }
  .team__list:nth-child(2n) {
    margin-right: 30px;
  }
}

.team__images {
  width: 450px;
  height: 460px;
}
@media screen and (min-width: 768px) {
  .team__images {
    width: 354px;
    height: 374px;
  }
}
@media screen and (min-width: 1200px) {
  .team__images {
    width: 270px;
    height: 260px;
  }
}

.team__name {
  color: rgb(33, 33, 33);
  font-weight: 500;
  font-style: normal;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.03em;
  padding-top: 30px;
  text-align: center;
}

.team__position {
  color: rgb(117, 117, 117);
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.03em;
  margin-top: 10px;
  padding-bottom: 30px;
  text-align: center;
}

.card__content {
  background-color: rgb(255, 255, 255);
}

.set__network {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  padding-bottom: 28.52px;
}

.network__item {
  fill: rgb(175, 177, 184);
}

.network__element {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 44px;
  height: 41.82px;
  cursor: pointer;
  -webkit-transform: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-radius 250ms cubic-bezier(0.4, 0, 0.2, 1);
          transform: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-radius 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.network__element:hover, .network__element:focus {
  background: rgb(33, 150, 243);
  border-radius: 50%;
  fill: rgb(255, 255, 255);
}

.network__name {
  width: 20px;
  height: 19.01px;
}

.customer__heading {
  font-weight: 700;
  font-size: 28px;
  line-height: 33px;
  text-align: center;
  color: rgb(33, 33, 33);
  margin-top: 60px;
  margin-bottom: 30px;
}
@media screen and (min-width: 1200px) {
  .customer__heading {
    font-size: 36px;
    line-height: 42px;
  }
}

.customer__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: -15px;
  margin-bottom: 60px;
}

.customer__logo {
  -ms-flex-preferred-size: calc((100% - 60px) / 2);
      flex-basis: calc((100% - 60px) / 2);
  fill: rgb(175, 177, 184);
  width: 210px;
  height: 92px;
  border: 1px solid rgb(175, 177, 184);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
  -webkit-transform: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), border-radius 250ms cubic-bezier(0.4, 0, 0.2, 1);
          transform: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), border-radius 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin-bottom: 30px;
}
.customer__logo:hover {
  fill: rgb(33, 150, 243);
  border: 1px solid rgb(33, 150, 243);
  border-radius: 4px;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .customer__logo {
    width: 226px;
    -ms-flex-preferred-size: calc((100% - 90px) / 3);
        flex-basis: calc((100% - 90px) / 3);
    margin-right: 30px;
  }
  .customer__logo:nth-child(3n) {
    margin-right: 0px;
  }
}
@media screen and (min-width: 1200px) {
  .customer__logo {
    width: 170px;
    -ms-flex-preferred-size: 0%;
        flex-basis: 0%;
    margin-right: 30px;
  }
  .customer__logo:last-child {
    margin-right: 0px;
  }
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  .customer__logo {
    margin-right: 30px;
  }
  .customer__logo:nth-child(2n) {
    margin-right: 0px;
  }
}
.regular__customer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 210px;
  height: 90px;
}

.customer__icon-1 {
  width: 44.27px;
  height: 49.23px;
}

.customer__icon-2 {
  width: 40px;
  height: 52px;
}

.customer__icon-3 {
  width: 41px;
  height: 42.6px;
}

.customer__icon-4 {
  width: 79.66px;
  height: 42.02px;
}

.customer__icon-5 {
  width: 59px;
  height: 47px;
}

.customer__icon-6 {
  width: 88.48px;
  height: 45.44px;
}

footer {
  width: 100%;
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}

.flex__container {
  text-align: center;
}
@media screen and (min-width: 768px) {
  .flex__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

.footer__logo {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0.03em;
  color: rgb(255, 255, 255);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer__address {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: rgb(255, 255, 255);
  margin-top: 20px;
  margin-bottom: 60px;
}

.footer__contacts {
  color: rgba(255, 255, 255, 0.6);
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  padding-top: 8px;
}

.footer__heading {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  margin-bottom: 20px;
}

.footer__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 44px;
  height: 44px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  -webkit-transform: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
          transform: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin-right: 10px;
}
.footer__items:last-child {
  margin-right: 0px;
}
.footer__items:hover {
  background-color: rgb(33, 150, 243);
}

.footer__icon {
  width: 20px;
  height: 20px;
  fill: rgb(255, 255, 255);
}

.footer__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 450px;
  height: 156px;
  margin-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .footer__form {
    width: 570px;
    height: 86px;
  }
}

@media screen and (min-width: 1200px) {
  .footer__section {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: left;
  }
}

.form__heading {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: rgb(255, 255, 255);
  margin-bottom: 20px;
  margin-top: 60px;
}

.form__div {
  position: relative;
}

@media screen and (min-width: 1200px) {
  .form__label {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.footer__input {
  position: relative;
  width: 450px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: rgba(33, 150, 243, 0);
  margin-bottom: 20px;
}
@media screen and (min-width: 1200px) {
  .footer__input {
    width: 358px;
    margin-right: 12px;
  }
}

.footer__label {
  position: absolute;
  top: 15px;
  left: 16px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footer__button {
  width: 200px;
  height: 50px;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  letter-spacing: 0.06em;
  color: rgb(255, 255, 255);
  background-color: rgb(33, 150, 243);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  margin: 0 auto;
}
@media screen and (min-width: 1200px) {
  .footer__button {
    margin: 0;
  }
}

.footer__telegram {
  width: 24px;
  height: 24px;
  margin-left: 10px;
  margin-top: 13px;
  margin-bottom: 13px;
}/*# sourceMappingURL=main.css.map */