.section__foto {
	display: none;

	@media screen and (min-width: 1200px) {
		display: contents;
	}
}

.foto__heading { 
	color: $black-text;
	font-weight: 700;
	font-style: normal;
	font-size: 36px;
	text-align: center;
	margin-bottom: 50px;
}
  
.foto__list { 
	display: flex;
	padding-bottom: 94px;

	& li:not(:last-child) {
		margin-right: 30px;
	}
}

img {
	width: 370px;
	height: 294px;
}
  
.foto__item { 
	position: relative;

	&::before {
		display: inline-block;
		content: '';
		position: absolute;
		bottom: 0;
		right: 0; 
		width: 370px; 
		height: 70px;
		background-color: $background-black-op80;
	}

	& p { 
		position: absolute;
		bottom: 27px; 
		right: 83px;
	}

}
  
.foto__text { 
	font-size: 14px;
	font-style: normal;
	font-weight: 700;
	line-height: 16px;
	letter-spacing: 0.03em;
	text-transform: uppercase;
	color: $white-text;
	text-align: center;
}
