$blue-logo: rgba(33, 150, 243, 1);
$blue-btn: rgba(24, 140, 232, 1);
$black-logo: rgba(0, 0, 0, 1);
$black-text: rgba(33, 33, 33, 1);
$border-form-op02: rgba(33, 33, 33, 0.2);
$border-white-bottom: rgba(236, 236, 236, 1);
$border-head: #ececec;
$border-form-op03: rgba(255, 255, 255, 0.3);
$border-background-form-0: rgba(33, 150, 243, 0);
$border-cart: #eeeeee;
$background-black: rgba(47, 48, 58, 1);
$background-black-op80: rgba(47, 48, 58, 0.8);
$background-head: #2f303a;
$background-btn: #2196f3;
$background-komanda: #f5f4fa;
$baskground-social-link: rgba(175, 177, 184, 1);
$greey: rgba(117, 117, 117, 1);
$grey-placeholder-op05: rgba(117, 117, 117, 0.5);
$greey-op60: rgba(255, 255, 255, 0.6);
$white-text: rgba(255, 255, 255, 1);
$hover-befor-folio: rgba(33, 150, 243, 0.9);
$fon-links: rgba(255, 255, 255, 0.1);
$cubik: cubic-bezier(0.4, 0, 0.2, 1);
